<!--Default layout for all pages, loads appropriate header, footer, scripts, stylesheets, etc -->

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


  <head>
  {% include head.html %}
  {% include bibli.html %}
  </head>

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include scripts/jquery.html %}
    {% include scripts/misc.html %}

  </body>

</html>
